/* Toggler */

#menu-toggler {
	position: fixed;
	top: 5%;
	left: 5%;
	z-index: 10000;

	display: none;
}

@media(max-width: 960px) {
	#menu-toggler {
		display: block;
	}
}

/* Desktop */

#nav-desktop {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	height: 8%;

	padding-left: 2rem;
	padding-right: 2rem;

	background-color: #3b3b3b;
}

#nav-desktop #items-list {
	align-self: center;
}

#nav-desktop #logo {
	grid-column: 1 / 12;
	align-self: center;
}

#nav-desktop #menu-toggler {
	display: none;
}

#nav-desktop #logo img {
	height: 4vh;
}

#nav-desktop .menu-item {
	margin-right: 1rem;

	color: #fff;
	text-decoration: none;
}

@media(max-width: 960px) {
	#nav-desktop {
		display: none;
	}
}

/* Mobile */

#nav-mobile {
	position: fixed;
	left: -100%;
	z-index: 1000;

	height: 100%;
	width: 100%;
}

#nav-mobile {
	height: 100%;
	width: 80%;
	z-index: 10000;

	background-color: #3b3b3b; 
	color: #fff;
}

#content-cover {
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;
	z-index: 1000;

	background-color: #3b3b3b; 
	opacity: 0;
}

#nav-mobile.open {
	animation-name: show-menu;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

#content-cover.open {
	animation-name: show;
	animation-delay: .4s;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}

#content-cover.close {
	animation-name: show;
	animation-delay: .4s;
    animation-duration: .1s;
    animation-fill-mode: forwards;
	animation-direction: reverse;
}

#nav-mobile.close {
	animation-name: show-menu;
    animation-duration: .5s;
	animation-direction: reverse;
	/*animation-fill-mode: forwards;*/
}

@media(min-width: 960px) {
	#nav-mobile {
		display: none;
	}
}

@keyframes show-menu {
    from { left: -80%; }
    to { left: 0; }
}

@keyframes show {
    from { opacity: 0; }
    to { opacity: .4; }
}
